// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Fonts
@font-face {
  font-family: "Open Sans Extra Bold";
  src: url("https://raw.githubusercontent.com/dynamicwebtech/client_CDNS/main/dynamic-web-technologies/fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("https://raw.githubusercontent.com/dynamicwebtech/client_CDNS/main/dynamic-web-technologies/fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("https://raw.githubusercontent.com/dynamicwebtech/client_CDNS/main/dynamic-web-technologies/fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "Open Sans Medium";
  src: url("https://raw.githubusercontent.com/dynamicwebtech/client_CDNS/main/dynamic-web-technologies/fonts/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("https://raw.githubusercontent.com/dynamicwebtech/client_CDNS/main/dynamic-web-technologies/fonts/OpenSans-Regular.ttf");
}

// Desktop
.login_popup {
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 200;
  background-color: $Alabaster;
  width: 100%;
  max-width: 300px;
  padding: 15px;
  border: 2px solid $Atlantis;
  display: none;

  .login_popup_inner {
    form {
      .form_set {
        width: 100%;
        margin-bottom: 8px;

        input {
          width: 100%;
          font-family: "Open Sans Semi Bold";
          border: 2px solid rgba(128, 128, 128, 0.378);
          padding-left: 7px;
          padding-right: 7px;
          height: 34px;
          background-color: white;
          color: $MineShaft;
        }
      }

      .login_error {
        font-family: "Open Sans Semi Bold";
        color: red;
        font-size: 14px;
      }

      .form_btns {
        margin-top: 15px;
        @include displayElement(flex, flex-start, center);

        button {
          padding: 10px;
          font-family: "Open Sans Bold";
          color: white;
          font-size: 14px;
        }

        .clear {
          background-color: $Atlantis;
          margin-right: 10px;
        }

        .login {
          background-color: $EasternBlue;
        }
      }
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
}

@media all and (max-width: 991px) {
  .login_popup {
    right: auto;
    left: 50%;
    top: 75px;
    transform: translateX(-50%);
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .login_popup {
    right: auto;
    left: 50%;
    top: 75px;
    transform: translateX(-50%);
    padding: 10px;
    max-width: 290px;
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .login_popup {
    right: auto;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    padding: 10px;
    max-width: 250px;

    .login_popup_inner {
      form {
        .form_set {
          input {
            height: 30px;
            font-size: 13px;
          }
        }

        .form_btns {
          button {
            font-size: 12px;
            padding: 6px;
          }
        }
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}
